/* These Styles will be converted by tailwind */


@import "tailwindcss";

#resumePreviewSection {
  display: none;
}

#coverLetterSection {
  display: none;
}

@layer base {
  textarea {
    resize: auto;
  }
}